<% provide(:title, 'About') %>

<h2>MEDIAdb is a Database App with User Authentication</h2>

<h4>Technologies include:</h4>

<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.2.4</a></li>
  <li><a href="http://rubyonrails.org/">Rails 4.2.6</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.5.1</a></li>
</ul>

<%= link_to "MEDIAdb Home", root_path, class: "btn btn-large btn-primary" %>
