<% provide(:title, 'Home') %>
<div>
  <h1>GA's WDI Cohort 6 Project 2</h1>
  <h3>A Relational Database Using Ruby on Rails and SQL</h3>
  <h4>Featuring AuthN and AuthZ</h4>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %><br>
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %><br>
  <%= link_to "About MEDIAdb", about_path, class: "btn btn-large btn-primary" %>
</div>
